html {
	font-family: 'Roboto';
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	background-color: #222222;
	margin: 0;
}

h1 {
	color: #FFF
}

#game {
	max-width: 80%;
	display: flex;
	flex-wrap: wrap;
	place-content: center;
}

.controls, .scores {
	display: flex;
	justify-content: center;
	align-items: center;
}

.controls {
	margin-bottom: 20px;
	width: 50%;
	flex-direction: column;
}

.scores {
	padding: 20px;
	color: #FFF;
}

select {
	text-align: center;
	padding: 2px;
}

.scores div {
	display: flex;
	flex-direction: column;
	padding: 0 30px;
}

.scores h6 {
	display: block;
}

button {
    font-size: 1rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    cursor: pointer;
}

.card {
	margin: 5px;
	border-radius: 5px;
	background-color: transparent;
	width: 150px;
	height: 200px;
	perspective: 1000px;
	cursor: help;
}

.card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 1s;
	transform-style: preserve-3d;
}

.card.selected .card-inner {
	transform: rotateY(180deg);
}

.card.revealed .card-inner {
	transform: rotateY(180deg);
}

.card.revealed {
	cursor: not-allowed!important;
}

.card-front, .card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border: 1px solid rgba(0, 0, 0, 0.8);

}

.hide {
	display: none;
}

.card-front {
	background-image: url('https://i.pinimg.com/564x/bf/d8/d7/bfd8d7704cf357fdc06f003e8bfdc272.jpg');
	background-position: center;
    background-size: cover;
}

.card-back {
	background-image: radial-gradient(circle, #fff, #cdb14d);
	flex-direction: column;
	transform: rotateY(180deg);
	font-weight: bold;
	color: #222222;
}