.Pokedex {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f5f5f5;
}

.Pokedex-winner {
    background-color: #f5f5f580; 
    z-index: 0;
}

.pokemon-text {
    font-family: 'Pokemon Solid';
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #355db9;
    color: #edbf00;
}

.ls-3 {
    letter-spacing: 3px;
}

.Pokedex > h5 {
    display: block;
    width: 100%;
    margin: 0 0 10px 0;
    text-align: center;
    z-index: 1;
    font-size: large;
}

.Pokedex > h1 {
    font-family: 'Pokemon Solid';
    font-size: 5rem;
    letter-spacing: 1px;
    z-index: 1;
}

.Pokedex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    width: 80%;
}